.contextmenu{
    position: absolute;
}


.content {
    z-index: 10000;
    background-color: black !important;
    color: white !important;
    width: 100px;
}

.content ul {
    justify-content: center;
    list-style-type:none
}

.content ul > li {
    padding: 5px;
    cursor: pointer;
}