<div class="container-fluid" (click)="isContextVisible=false;">
  <app-shadow-header (contextmenu)="showContextMenu($event, 'header')" oncontextmenu="return false;"></app-shadow-header>
  <div class="row">
    <div class="col-md-8">
      <p>content</p>
    </div>
    <div class="col-md-4">
      <p>side bar</p>
    </div>
  </div>
  <app-shadow-footer (contextmenu)="showContextMenu($event, 'footer')" oncontextmenu="return false;"></app-shadow-footer>
</div>


<!--you have to write this only once in your component-->
<div *ngIf="isContextVisible">
  <app-shadow-contextmenu [x]="contextMenuX" [y]="contextMenuY" (action)="captureContextAction($event)" [value]="contextValue"></app-shadow-contextmenu>
</div>