.template-card {
    width: 280px;
    cursor: pointer;
}
.caption {
 text-align: center !important;
}

.template-card img {
    width: 400px;
}

.custom-template-button {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.theme-img {
    width: 250px !important;
}