<div class="container-fluid">
  <app-navbar></app-navbar>
  <div class="row">
    <div class="col-md-6">
      <div class="custom-template-wrapper">
        <div class="thumbnail template-card" data-toggle="modal" data-target="#createNewTheme">
          <img src="../../../assets/img/plus-icon.svg">
          <div class="caption">
            <h4>Create new Theme</h4>
          </div>
        </div>
      </div>
    </div>
    <div *ngFor="let theme of themeMappings" class="col-md-6">
      <div class="custom-template-wrapper">
        <div class="thumbnail template-card" (click)="navigateToTheme(theme.name)">
          <img src={{theme.image}}>
          <div class="caption">
            <h4>{{theme.name}}</h4>
            <p>{{theme.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- The Modal -->
<div class="modal" id="createNewTheme">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <div class="row">
          <div class="col-md-11">
            <h4 class="modal-title">Create New Theme</h4>
          </div>
          <div class="col-md-1">
            <button type="button" class="close" data-dismiss="modal" id="createThemeModalClose">&times;</button>
          </div>
        </div>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="createThemeForm">
          <div class="row">
            <div class="col-md-12 create-theme-form-field">
              <label for="themeName">Theme Name:</label>
              <input type="text" class="form-control" formControlName="themeName" id="themeName">
            </div>
            <div class="col-md-12 create-theme-form-field">
              <label for="themeDescription">Theme Description:</label>
              <input type="text" class="form-control" formControlName="themeDescription" id="themeDescription">
            </div>
          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="createNewTheme()" [disabled]="!createThemeForm.valid">Create</button>
      </div>

    </div>
  </div>
</div>