<div class="container-fluid">
  <div class="login-block">
    <div class="row form-group">
      <div class="col-md-12">
        <label for="userName">Username</label>
        <input type="text" class="form-control" name="userName" id="userName" [(ngModel)]="userName">
      </div>
      <div class="col-md-12">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" [(ngModel)]="password">
      </div>
        <button class="btn btn-primary login-button" (click)="login()">Login</button>
    </div>
  </div>
</div>